#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-size: 20px;
}

.App {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
}

.furnace,
.auctionBoard {
    color: black;
    /* height: 20vh; */
    display: grid;
    place-items: center;
}
.furnace {
    background: salmon;
}
.auctionBoard {
    background: skyblue;
}

.hand {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.card {
    height: 10vh;
    border: 1px solid black;
    border-radius: 1rem;
    aspect-ratio: 2/3;
}
